section.about-page
    .about-page-wrap
        .main-intro.main-page-header-wrap.main-page-header-wrap--img.about-page-main-intro 
            block breadcrumbs
                include ../breadcrumbs.pug
            h1.main-intro__title.text-title About 
        .about-page-list-wrap 
            .about-page-list-intro 
                p.about-page-list-descr-upper.text-descr-uppercase Giza Construction was established in Alanya in 2009 to bring together the latest innovations in construction technologies, modern architecture and perfection.
                p.about-page-list-descr.text-descr Our company consists of a successful team in its field with its young and dynamic staff. Giza treats its projects meticulously down to the smallest details, and "Excellence" emerges as the company motto." "Enjoy free lifetime consultancy services once you buy real estate from Giza construction
                span.about-page-list-title.text-descr-uppercase Our managers
            .about-page-list 
                .about-page-card 
                    .about-page-card-img-wrap
                        img(src="./assets/images/aboutPage/1.jpg", alt="" img-paralax).about-page-card-img
                    .about-page-card-title.text-title Halil Yıldırım
                    .about-page-card-number 
                        +svg('about-phone')
                        a(href="tel:+905339638640").about-page-card-number__link.text-descr-uppercase +90 533 963 86 40
                    .about-page-card-email 
                        +svg('mail')
                        a(href="mailto:info@basicapartment.com").about-page-card-email__link.text-descr-uppercase info@basicapartment.com
                .about-page-card 
                    .about-page-card-img-wrap
                        img(src="./assets/images/aboutPage/2.jpg", alt="" img-paralax).about-page-card-img
                    .about-page-card-title.text-title Violetta
                    .about-page-card-number 
                        +svg('about-phone')
                        a(href="tel:+905550978446").about-page-card-number__link.text-descr-uppercase +90 555 097 84 46
                    .about-page-card-email 
                        +svg('mail')
                        a(href="mailto:sales2@basicapartment.com").about-page-card-email__link.text-descr-uppercase sales2@basicapartment.com
                .about-page-card 
                    .about-page-card-img-wrap
                        img(src="./assets/images/aboutPage/3.jpg", alt="" img-paralax).about-page-card-img
                    .about-page-card-title.text-title Aykerim
                    .about-page-card-number 
                        +svg('about-phone')
                        a(href="tel:+905050623634").about-page-card-number__link.text-descr-uppercase +90 505 062 36 34
                    .about-page-card-email 
                        +svg('mail')
                        a(href="mailto:sales3@basicapartment.com").about-page-card-email__link.text-descr-uppercase sales3@basicapartment.com

    