section.about#section-about.slide 
    .about-wrap.main-card-wrap
        .about-img-wrap 
            img(src="./assets/images/about/1.jpg", alt="" img-paralax).about-img
        .about-intro-wrap
            .about-intro
                .about-intro-text
                    h2.about-intro__title.text-title.col__content-title About
                    p.about-intro__descr.text-descr.col__content-txt The center of Alanya is the most popular place in the city, it attracts tourists from all over the world. It is here that the most famous beach - Cleopatra is located: and thanks to its own developed infrastructure, within walking distance are.
                    .btn-container.btn-container--light
                        .btn-mask.btn-mask--light Read more
                        a(href='about.html').btn.btn-light.about-btn Read more
                .about-intro-img 
                    img(src="./assets/images/about/room.jpg", alt="" img-paralax)