section.contact.slide 
    .contact-wrap 
        .contact-image-wrap 
            img(src="./assets/images/intro/contact-bg.jpg", alt="" img-paralax)       
        .contact-main
            .title-container
                h1.projects-title.text-title.col__content-title Contacts 
            .contact-socials 
                .contact-socials-list
                    .contact-socials-card 
                        span.contact-socials-card__title.text-descr Phone:
                        a(href="tel:+(90) 28 04 7777").contact-socials-card__link--simple.text-descr-uppercase +(90) 28 04 7777
                    .contact-socials-card 
                        span.contact-socials-card__title.text-descr E-mail:
                        a(href="mailto:info@GIza.com").contact-socials-card__link--simple.text-descr-uppercase info@GIza.com
                    .contact-socials-card 
                        span.contact-socials-card__title.text-descr Address:
                        span.contact-socials-card__descr.text-descr-uppercase Turkey, Alanya 
                    .contact-socials-card 
                        span.contact-socials-card__title.text-descr Social:
                        a(href="#").contact-socials-card__link--simple.text-descr-uppercase Telegram
                        a(href="#").contact-socials-card__link--simple.text-descr-uppercase Facebook