section.projects.slide 
    .projects-wrap
        .title-container
            h2.projects-title.text-title.col__content-title Projects 
        .projects-swiper.swiper 
            .swiper-wrapper.projects-swiper-wrapper
                .swiper-slide.projects-slide
                    a(href="single-project.html").project-slide-img-link 
                        img(src="./assets/images/projects/1.jpg", alt="" img-paralax).projects-slide-img
                    .projects-slide-info
                        .projects-slide-info-address
                            span.projects-slide-info__title.text-descr-uppercase Miss Cleopatra
                            span.projects-slide-info__descr.text-descr Turkey, Alanya
                        a(href="single-project.html").projects-slide-info-link.text-descr-uppercase view project
                .swiper-slide.projects-slide
                    a(href="single-project.html").project-slide-img-link 
                        img(src="./assets/images/projects/2.jpg", alt="" img-paralax).projects-slide-img
                    .projects-slide-info
                        .projects-slide-info-address
                            span.projects-slide-info__title.text-descr-uppercase Miss Cleopatra
                            span.projects-slide-info__descr.text-descr Turkey, Alanya
                        a(href="single-project.html").projects-slide-info-link.text-descr-uppercase view project
                .swiper-slide.projects-slide
                    a(href="single-project.html").project-slide-img-link 
                        img(src="./assets/images/projects/3.jpg", alt="" img-paralax).projects-slide-img
                    .projects-slide-info
                        .projects-slide-info-address
                            span.projects-slide-info__title.text-descr-uppercase Miss Cleopatra
                            span.projects-slide-info__descr.text-descr Turkey, Alanya
                        a(href="single-project.html").projects-slide-info-link.text-descr-uppercase view project
        .projects-nav
            .projects-nav-swiper
                .projects-swiper-button-prev.slider-btn.slider-btn--prev
                    +svg('arrow')
                .projects-swiper-button-next.slider-btn.slider-btn--next
                    +svg('arrow')
            .btn-container
                .btn-mask All Projects
                a(href="projects.html").projects-btn.btn All Projects