#id-all-projects .page__inner .page__content {
	flex-grow: 0;
	min-height: 100%;

}

#id-all-projects footer {
	display: none;
}

.project-page-intro {
	background: $mc1;

}

// .content-open .project-page-intro {
// 	display: none;

// }

.projects-content-container {
	background-color: $mc1;
	width: 100%;
    min-height: 100%;
}





html {
	scroll-behavior: initial;
}

html, body{
	width: 100%;
	min-height: 100%;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.projects-content-container {
	width: 100%;
	min-height: 100%;

}

.content-open {
	overflow: hidden;
	height: 100vh;
}

.oh {
    position: relative;
    overflow: hidden
}

.oh__inner {
    will-change: transform;
    display: inline-block;
}

.line {
	transform-origin: 0;
	white-space: nowrap;
	will-change: transform;
}



.unbutton {
	background: none;
	border: 0;
	padding: 0;
	margin: 0;
	cursor: pointer;
	display: flex;
	align-items: center;
}

.unbutton:focus {
	outline: none;
}

.unbutton span:first-child {
	margin-right: 1rem;
}

.unbutton span:last-child {
	margin-left: 1rem;
}

main {
	position: relative;
	display: grid;
	grid-template-areas: 'frame' 'page';
	background: $mc1;
}



.preview-wrap {
	grid-area: page;
	padding: 0 2rem 3rem;
	position: relative;
	z-index: 100;
}

// .content-open .preview__img-swiper-wrap {
// 	width: 100vw!important;
// }

.preview__img-swiper-slide.swiper-slide {
	width: 100%!important;
	background-repeat: no-repeat;
	background-size: cover;
	// background-size: 100%;
    background-position: 0% 0%;
    background-repeat: no-repeat;

}

.content-open .preview-wrap {
	pointer-events: none;
	z-index: -1;
}

.preview {
	min-height: 400px;
	padding: 3rem 0 0;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 100%;
	will-change: transform;
}

.preview__img-wrap {
	grid-area: 1 / 1 / -1 / -1;
	cursor: pointer;
}

.preview__img {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	pointer-events: none;
}

.preview__img-inner {
	width: 100%;
	height: 100%;
	background-size: 150%;
	background-position: 0% 0%;
	background-repeat: no-repeat;
}

.content__meta {
	margin-bottom: 2rem;
	color: var(--color-text-alt);
}

.content__meta {
	color: #EBE9E4;
	margin-bottom: 12px;
	margin-top: 32px;
}

.content__meta:first-child {
	margin-top: 0;
	
}

.preview__title {
	text-align: center;
	align-self: center;
	justify-self: center;
	grid-area: 1 / 1 / -1 / -1;
	position: relative;
	transform: translate3d(0,50%,0);
	pointer-events: none;
	z-index: 10000;
}

.preview__title-main {
	margin: 0;
	font-family: $default-font;
	font-style: normal;
	font-weight: 300;
	font-size: 120px;
	line-height: 120%;
	text-align: center;
	text-transform: uppercase;
	color: $mc2;
	display: flex;
	margin-bottom: 50px;
}

.preview__title-main > span {
	display: block;
	margin-right: 12px;
}

.preview__title-main > span:last-child {
	display: block;
	margin-right: 0;
}

.preview__desc {
	margin: 0 auto;
	max-width: 600px;
	color: $mc2;
}

.content-wrap {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	grid-area: page;
	height: 100vh;
	overflow: hidden;
	display: grid;
	grid-template-areas: 
	'back back'
	'content content';
	grid-template-rows: auto 1fr;
	pointer-events: all;
	padding: 2rem;
}

.action {
	visibility: hidden;
	pointer-events: none;
	opacity: 0;
}

.content-open .action {
	visibility: visible;
	pointer-events: auto;
}

.action svg {
	width: 2em;
	height: 2em;
}

.action--back {
	justify-self: start;
	grid-area: back;
	padding: 1rem 0;
}

.action span {
	text-transform: uppercase;
}

.content {
	grid-area: content;
	grid-row: 2 / span 2;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	pointer-events: none;
	opacity: 0;
	display: grid;
	grid-gap: 2vw;
	grid-template-columns: 100%;
	grid-template-areas:
	'img' 
	'thumbs'
	'text';
	grid-template-rows: 20vh min-content auto;
}

.content--current {
	position: relative;
	pointer-events: auto;
	opacity: 1;
	height: 90vh;
	padding: 100px 0;
}

.content__group {
	grid-area: text;
}

.content__title {
	color: $mc2;
	display: flex;
	margin-bottom: 32px;
}

.content__title span {
	display: block;
	margin-right: 8px;
}

.content__title > span:last-child {
	margin-right: 0;
}

.content .preview__img {
	grid-area: img;
	pointer-events: auto;
}

.content__thumbs {
	grid-area: thumbs;
	display: grid;
    grid-auto-columns: auto;
    grid-auto-flow: column;
    grid-gap: 2vw;
    justify-content: start;


}

.content__thumbs-item {
	width: 50px;
	aspect-ratio: 1.5;

	&.swiper-slide {
		flex-shrink: 1;
	}

	&.swiper-slide-active {
		grid-area: img;

	}
}

// .content__thumbs-item:hover {
// 	cursor: not-allowed;
// }

.hidden {
	opacity: 0;
	pointer-events: none;
}

@media screen and (min-width: 53em) {
	main {
		grid-template-areas: 'frame page';
		grid-template-columns: auto 1fr;
		background: $mc1;
	}
	.frame {
		position: -webkit-sticky; /* Safari */
		position: sticky;
		top: 0;
		height: 100vh;
		opacity: 0.5;
		padding: 2rem;
	}

	.frame__title, 
	.frame__prev,
	#cdawrap {
		justify-self: start;
		-webkit-writing-mode: vertical-rl;
		writing-mode: vertical-rl;
		transform: rotate(180deg);
	}

	body #cdawrap {
		justify-self: start;
	}

	.frame__prev {
		margin: 1rem 0 0;
	}

	.frame__title-back {
		transform: scale3d(1,-1,1);
	}
	.preview {
		min-height: 70vh;
	}
	.preview__desc {
		margin: -2.5rem auto 0;
	}
	.content {
		grid-template-columns: 60% 1fr;
		grid-template-areas:
		'img text'
		'thumbs text';
		grid-template-rows:1fr auto;
	}
	.content__thumbs-item {
		width: 200px!important;
		aspect-ratio: 1.5;
	
		&.swiper-slide {
			flex-shrink: 1;
		}
	
		&.swiper-slide-active {
			grid-area: img;
	
		}
	}
	.content__text {
		color: #A6A299;
		max-width: 100%;
	}
}


.close-content {
	position: absolute;
  	border: 1px solid $mc2;
	top: 100px;
	right: 50px;
	width: 50px;
	height: 50px;
	cursor: pointer;
	z-index: 100000;
  @include mobile {
    right: 30px;
    top: 30px;
  }
}

.close-content:before {
	content: '';
	background-color: $mc2;
	position: absolute;
	height: 1px;
	width: 20px;
	top: 25px;
	left: 14px;
	transform: rotate(-45deg);
}

.close-content:after {
	content: '';
	background-color: $mc2;
	position: absolute;
	height: 1px;
	width: 20px;
	top: 25px;
	transform: rotate(45deg);
	left: 14px;
}
