section.project-page-intro
    .main-intro.main-page-header-wrap--black
        block breadcrumbs
            include ../breadcrumbs.pug 
        h1.main-intro__title.text-title Projects
main.projects-page-content-wrap
    section.preview-wrap
        .preview
            .preview__img.swiper 
                .swiper-wrapper.projects-swiper-wrapper
                    .preview__img-inner.swiper-slide(style="background-image:url(./assets/images/projectsPage/1_1.jpg)")
                    .preview__img-inner.swiper-slide(style="background-image:url(./assets/images/projectsPage/1_2.jpg)")
                    .preview__img-inner.swiper-slide(style="background-image:url(./assets/images/projectsPage/1_2.jpg)")
            .preview__title
                h2.preview__title-main
                    span.oh
                        span.oh__inner Miss 
                    span.oh
                        span.oh__inner Cleopatra
                p.preview__desc.text-descr-uppercase Giza construction aims to bring you luxury by combining the best materials and high standard workmanship
        .preview
            .preview__img-wrap
                .preview__img.swiper 
                    .swiper-wrapper.projects-swiper-wrapper
                        .preview__img-inner.swiper-slide(style="background-image:url(./assets/images/projectsPage/1_2.jpg)")
                        .preview__img-inner.swiper-slide(style="background-image:url(./assets/images/projectsPage/1_2.jpg)")
                        .preview__img-inner.swiper-slide(style="background-image:url(./assets/images/projectsPage/1_2.jpg)")
            .preview__title
                h2.preview__title-main
                    span.oh
                        span.oh__inner Miss 
                    span.oh
                        span.oh__inner Cleopatra
                p.preview__desc.text-descr-uppercase Giza construction aims to bring you luxury by combining the best materials and high standard workmanship
        .preview
            .preview__img-wrap
                .preview__img
                    .preview__img-inner(style="background-image:url(./assets/images/projectsPage/1_3.jpg)")
            .preview__title
                h2.preview__title-main
                    span.oh
                        span.oh__inner Miss 
                    span.oh
                        span.oh__inner Cleopatra
                p.preview__desc.text-descr-uppercase Giza construction aims to bring you luxury by combining the best materials and high standard workmanship
        .preview
            .preview__img-wrap
                .preview__img
                    .preview__img-inner(style="background-image:url(./assets/images/projectsPage/1_3.jpg)")
            .preview__title
                h2.preview__title-main
                    span.oh
                        span.oh__inner Miss 
                    span.oh
                        span.oh__inner Cleopatra
                p.preview__desc.text-descr-uppercase Giza construction aims to bring you luxury by combining the best materials and high standard workmanship
    section.content-wrap
        .content
            .content__group
                .content__title.text-title
                    span.oh
                        span.oh__inner Miss
                    span.oh
                        span.oh__inner Cleopatra
                .content__meta.oh.text-descr-uppercase
                    span.oh__inner Let me introduce you to a new investment project that is being built in the center of Alanya and just 50 meters from the sea
                .content__text.text-descr The center of Alanya is the most popular place in the city, it attracts tourists from all over the world. It is here that the most famous beach - Cleopatra is located: and thanks to its own developed infrastructure, within walking distance are: restaurants, bars, nightclubs, supermarkets, shops, schools, hospitals, universities, banks, and public transport stops. As well as the port of Alanya, the funicular and the historical fortress. City beaches are especially clean, safe, and conveniently located, in addition, a 10-minute walk away is the famous Alania Water Park, which will delight both children and adults. If you want to have an apartment in the city center with a developed infrastructure, then this option is for you. The developed internal infrastructure of the complex is aimed at comfortable living and good rest.
                .content__meta.oh.text-descr-uppercase
                    span.oh__inner Our complex is one block and a total of 13 apartments with different layouts
                .content__text.text-descr.text-marked 1+1 area 65 m²
                .content__text.text-descr.text-marked  2+1 area 72 m²
                .content__text.text-descr.text-marked  2+1 (duplex) area 78 m²
                .content__meta.oh.text-descr-uppercase
                    span.oh__inner Infrastructure of the complex
                .content__text.text-descr.text-marked  Swimming pool
                .content__text.text-descr.text-marked  Fitness
                .content__text.text-descr.text-marked  Generator
                .content__text.text-descr.text-marked  Wİ-Fİ throughout the complex
                .content__text.text-descr.text-marked  Sauna
                .content__text.text-descr.text-marked  Security system 24/7
            .content__thumbs.swiper 
                .swiper-wrapper
                    .content__thumbs-item.swiper-slide(style="background-image:url(./assets/images/projectsPage/1_1.jpg)")
                    .content__thumbs-item.swiper-slide(style="background-image:url(./assets/images/projectsPage/1_2.jpg)")
                    .content__thumbs-item.swiper-slide(style="background-image:url(./assets/images/projectsPage/1_3.jpg)")
                    .content__thumbs-item.swiper-slide(style="background-image:url(./assets/images/projectsPage/1_1.jpg)")
        .content
            .content__group
                .content__title.text-title
                    span.oh
                        span.oh__inner Miss
                    span.oh
                        span.oh__inner Cleopatra
                .content__meta.oh.text-descr-uppercase
                    span.oh__inner Let me introduce you to a new investment project that is being built in the center of Alanya and just 50 meters from the sea
                .content__text.text-descr The center of Alanya is the most popular place in the city, it attracts tourists from all over the world. It is here that the most famous beach - Cleopatra is located: and thanks to its own developed infrastructure, within walking distance are: restaurants, bars, nightclubs, supermarkets, shops, schools, hospitals, universities, banks, and public transport stops. As well as the port of Alanya, the funicular and the historical fortress. City beaches are especially clean, safe, and conveniently located, in addition, a 10-minute walk away is the famous Alania Water Park, which will delight both children and adults. If you want to have an apartment in the city center with a developed infrastructure, then this option is for you. The developed internal infrastructure of the complex is aimed at comfortable living and good rest.
                .content__meta.oh.text-descr-uppercase
                    span.oh__inner Our complex is one block and a total of 13 apartments with different layouts
                .content__text.text-descr.text-marked 1+1 area 65 m²
                .content__text.text-descr.text-marked  2+1 area 72 m²
                .content__text.text-descr.text-marked  2+1 (duplex) area 78 m²
                .content__meta.oh.text-descr-uppercase
                    span.oh__inner Infrastructure of the complex
                .content__text.text-descr.text-marked  Swimming pool
                .content__text.text-descr.text-marked  Fitness
                .content__text.text-descr.text-marked  Generator
                .content__text.text-descr.text-marked  Wİ-Fİ throughout the complex
                .content__text.text-descr.text-marked  Sauna
                .content__text.text-descr.text-marked  Security system 24/7
            .content__thumbs
                .content__thumbs-item(style="background-image:url(./assets/images/projectsPage/1_1.jpg)")
                .content__thumbs-item(style="background-image:url(./assets/images/projectsPage/1_2.jpg)")
                .content__thumbs-item(style="background-image:url(./assets/images/projectsPage/1_3.jpg)")
                .content__thumbs-item(style="background-image:url(./assets/images/projectsPage/1_1.jpg)")
        .content
            .content__group
                .content__title.text-title
                    span.oh
                        span.oh__inner Miss
                    span.oh
                        span.oh__inner Cleopatra
                .content__meta.oh.text-descr-uppercase
                    span.oh__inner Let me introduce you to a new investment project that is being built in the center of Alanya and just 50 meters from the sea
                .content__text.text-descr The center of Alanya is the most popular place in the city, it attracts tourists from all over the world. It is here that the most famous beach - Cleopatra is located: and thanks to its own developed infrastructure, within walking distance are: restaurants, bars, nightclubs, supermarkets, shops, schools, hospitals, universities, banks, and public transport stops. As well as the port of Alanya, the funicular and the historical fortress. City beaches are especially clean, safe, and conveniently located, in addition, a 10-minute walk away is the famous Alania Water Park, which will delight both children and adults. If you want to have an apartment in the city center with a developed infrastructure, then this option is for you. The developed internal infrastructure of the complex is aimed at comfortable living and good rest.
                .content__meta.oh.text-descr-uppercase
                    span.oh__inner Our complex is one block and a total of 13 apartments with different layouts
                .content__text.text-descr.text-marked 1+1 area 65 m²
                .content__text.text-descr.text-marked  2+1 area 72 m²
                .content__text.text-descr.text-marked  2+1 (duplex) area 78 m²
                .content__meta.oh.text-descr-uppercase
                    span.oh__inner Infrastructure of the complex
                .content__text.text-descr.text-marked  Swimming pool
                .content__text.text-descr.text-marked  Fitness
                .content__text.text-descr.text-marked  Generator
                .content__text.text-descr.text-marked  Wİ-Fİ throughout the complex
                .content__text.text-descr.text-marked  Sauna
                .content__text.text-descr.text-marked  Security system 24/7
            .content__thumbs
                .content__thumbs-item(style="background-image:url(./assets/images/projectsPage/1_1.jpg)")
                .content__thumbs-item(style="background-image:url(./assets/images/projectsPage/1_2.jpg)")
                .content__thumbs-item(style="background-image:url(./assets/images/projectsPage/1_3.jpg)")
                .content__thumbs-item(style="background-image:url(./assets/images/projectsPage/1_1.jpg)")
        .content
            .content__group
                .content__title.text-title
                    span.oh
                        span.oh__inner Miss
                    span.oh
                        span.oh__inner Cleopatra
                .content__meta.oh.text-descr-uppercase
                    span.oh__inner Let me introduce you to a new investment project that is being built in the center of Alanya and just 50 meters from the sea
                .content__text.text-descr The center of Alanya is the most popular place in the city, it attracts tourists from all over the world. It is here that the most famous beach - Cleopatra is located: and thanks to its own developed infrastructure, within walking distance are: restaurants, bars, nightclubs, supermarkets, shops, schools, hospitals, universities, banks, and public transport stops. As well as the port of Alanya, the funicular and the historical fortress. City beaches are especially clean, safe, and conveniently located, in addition, a 10-minute walk away is the famous Alania Water Park, which will delight both children and adults. If you want to have an apartment in the city center with a developed infrastructure, then this option is for you. The developed internal infrastructure of the complex is aimed at comfortable living and good rest.
                .content__meta.oh.text-descr-uppercase
                    span.oh__inner Our complex is one block and a total of 13 apartments with different layouts
                .content__text.text-descr.text-marked 1+1 area 65 m²
                .content__text.text-descr.text-marked  2+1 area 72 m²
                .content__text.text-descr.text-marked  2+1 (duplex) area 78 m²
                .content__meta.oh.text-descr-uppercase
                    span.oh__inner Infrastructure of the complex
                .content__text.text-descr.text-marked  Swimming pool
                .content__text.text-descr.text-marked  Fitness
                .content__text.text-descr.text-marked  Generator
                .content__text.text-descr.text-marked  Wİ-Fİ throughout the complex
                .content__text.text-descr.text-marked  Sauna
                .content__text.text-descr.text-marked  Security system 24/7
            .content__thumbs
                .content__thumbs-item(style="background-image:url(./assets/images/projectsPage/1_1.jpg)")
                .content__thumbs-item(style="background-image:url(./assets/images/projectsPage/1_2.jpg)")
                .content__thumbs-item(style="background-image:url(./assets/images/projectsPage/1_3.jpg)")
                .content__thumbs-item(style="background-image:url(./assets/images/projectsPage/1_1.jpg)")
        .button.unbutton.action.action--back.close-content.btn-small
            