section.news-page
    .news-page-wrap
        .main-intro.main-page-header-wrap.main-page-header-wrap--img.news-main-intro
            block breadcrumbs
                include ../breadcrumbs.pug
            h1.main-intro__title.text-title News    
        .news-list-wrap 
            .news-list 
                .news-item 
                    .news-item-intro 
                        h3.news-item__title.text-descr-uppercase MAKE YOUR WISH ABOUT YOUR OWN HOUSING COME TRUE IN TIME! BUY AN APARTMENT WITH A 30% DOWN PAYMENT
                        p.news-item__descr.text-descr With age, requests become much more: a view from the window, friendly neighbors, safe playgrounds for children, supermarkets on the first floor, dry cleaners, restaurants, bakeries, a cafe in the house, a place for a car.
                        .btn-container.btn-container-border
                            .btn-mask Read more
                            a(href="single-news.html").news-item__btn.btn Read more
                    .news-item-img-wrap 
                        img(src="./assets/images/newsPage/1.jpg", alt="" img-paralax).news-item-img
                .news-item 
                    .news-item-intro 
                        h3.news-item__title.text-descr-uppercase MAKE YOUR WISH ABOUT YOUR OWN HOUSING COME TRUE IN TIME! BUY AN APARTMENT WITH A 30% DOWN PAYMENT
                        p.news-item__descr.text-descr With age, requests become much more: a view from the window, friendly neighbors, safe playgrounds for children, supermarkets on the first floor, dry cleaners, restaurants, bakeries, a cafe in the house, a place for a car.
                        .btn-container.btn-container-border
                            .btn-mask Read more
                            a(href="single-news.html").news-item__btn.btn Read more
                    .news-item-img-wrap 
                        img(src="./assets/images/newsPage/1.jpg", alt="" img-paralax).news-item-img
                .news-item 
                    .news-item-intro 
                        h3.news-item__title.text-descr-uppercase MAKE YOUR WISH ABOUT YOUR OWN HOUSING COME TRUE IN TIME! BUY AN APARTMENT WITH A 30% DOWN PAYMENT
                        p.news-item__descr.text-descr With age, requests become much more: a view from the window, friendly neighbors, safe playgrounds for children, supermarkets on the first floor, dry cleaners, restaurants, bakeries, a cafe in the house, a place for a car.
                        .btn-container.btn-container-border
                            .btn-mask Read more
                            a(href="single-news.html").news-item__btn.btn Read more
                    .news-item-img-wrap 
                        img(src="./assets/images/newsPage/1.jpg", alt="" img-paralax).news-item-img
                .news-item 
                    .news-item-intro 
                        h3.news-item__title.text-descr-uppercase MAKE YOUR WISH ABOUT YOUR OWN HOUSING COME TRUE IN TIME! BUY AN APARTMENT WITH A 30% DOWN PAYMENT
                        p.news-item__descr.text-descr With age, requests become much more: a view from the window, friendly neighbors, safe playgrounds for children, supermarkets on the first floor, dry cleaners, restaurants, bakeries, a cafe in the house, a place for a car.
                        .btn-container.btn-container-border
                            .btn-mask Read more
                            a(href="single-news.html").news-item__btn.btn Read more
                    .news-item-img-wrap 
                        img(src="./assets/images/newsPage/1.jpg", alt="" img-paralax).news-item-img
                .news-item 
                    .news-item-intro 
                        h3.news-item__title.text-descr-uppercase MAKE YOUR WISH ABOUT YOUR OWN HOUSING COME TRUE IN TIME! BUY AN APARTMENT WITH A 30% DOWN PAYMENT
                        p.news-item__descr.text-descr With age, requests become much more: a view from the window, friendly neighbors, safe playgrounds for children, supermarkets on the first floor, dry cleaners, restaurants, bakeries, a cafe in the house, a place for a car.
                        .btn-container.btn-container-border
                            .btn-mask Read more
                            a(href="single-news.html").news-item__btn.btn Read more
                    .news-item-img-wrap 
                        img(src="./assets/images/newsPage/1.jpg", alt="" img-paralax).news-item-img
                .news-item 
                    .news-item-intro 
                        h3.news-item__title.text-descr-uppercase MAKE YOUR WISH ABOUT YOUR OWN HOUSING COME TRUE IN TIME! BUY AN APARTMENT WITH A 30% DOWN PAYMENT
                        p.news-item__descr.text-descr With age, requests become much more: a view from the window, friendly neighbors, safe playgrounds for children, supermarkets on the first floor, dry cleaners, restaurants, bakeries, a cafe in the house, a place for a car.
                        .btn-container.btn-container-border
                            .btn-mask Read more
                            a(href="single-news.html").news-item__btn.btn Read more
                    .news-item-img-wrap 
                        img(src="./assets/images/newsPage/1.jpg", alt="" img-paralax).news-item-img       
            .btn-container.btn-container--light.news-more-btn-container
                .btn-mask.btn-mask--light More news
                button.news-btn-more.btn.btn-light More news