section.contacts-page
    .contacts-page-wrap
        .main-intro.main-page-header-wrap.main-page-header-wrap--img.contacts-page-main-intro 
            block breadcrumbs
                include ../breadcrumbs.pug
            h1.main-intro__title.text-title Contacts
        .contacts-page-socials 
            .contacts-page-socials-list 
                .contacts-page-socials-card 
                    span.contacts-page-socials-card__title.text-descr Phone:
                    a(href="tel:+(90) 28 04 7777").contacts-page-socials-card__link--simple.text-descr-uppercase +(90) 28 04 7777           
                .contacts-page-socials-card 
                    span.contacts-page-socials-card__title.text-descr E-mail:
                    a(href="mailto:INFO@KADIUM-DEVELOPMENT.COM.UA").contacts-page-socials-card__link--simple.text-descr-uppercase info@GIza.com
                .contacts-page-socials-card 
                    span.contacts-page-socials-card__title.text-descr Address:
                    span.contacts-page-socials-card__descr.text-descr-uppercase Turkey, Alanya
                    .btn-container.btn-container-border.contacts-page-socials-card__link-wrap
                        .btn-mask View on Google maps    
                        a(href="https://goo.gl/maps/dRRx5pDR79SCUUPZ7" target="_blank").contacts-page-socials-card__link.btn View on Google maps
                .contacts-page-socials-card 
                    span.contacts-page-socials-card__title.text-descr Social:
                    a(href="#").contacts-page-socials-card__link--simple.text-descr-uppercase FACEBOOK
                    a(href="#").contacts-page-socials-card__link--simple.text-descr-uppercase INSTAGRAM        