section.single-news-page
    .main-page-wrap
        .main-intro.main-page-header-wrap--black
            block breadcrumbs
                include ../breadcrumbs.pug 
            h1.main-intro__title.text-title MAKE YOUR WISH ABOUT YOUR OWN HOUSING COME TRUE IN TIME! BUY AN APARTMENT WITH A 30% DOWN PAYMENT 
        .single-news-card-wrap 
            .single-news-card 
                .single-news-card-intro 
                    .single-news-card-intro-block
                        h2.single-news-card-item__title.text-descr-uppercase This ‘artificial larynx’ prototype aims to give cancer survivors their own voices back
                        p.single-news-card__descr.text-descr CNN — Although he’s retired, 60-year-old former fashion brand executive Hirokazu Ogitsu still wears outfits that make a statement – even when he can’t. “I got cervical esophageal cancer and lost my voice about 10 years ago and made a smooth recovery,” Ogitsu said. “But I had a recurrence almost two years ago and ended up being unable to speak without a device.” Ogitsu had a laryngectomy, a surgery in which all or part of the larynx – also known as the voice box – is removed. This procedure can be a part of treating laryngeal cancers, which impact more than 184,000 people worldwide each year, according to the World Health Organization. These days, Ogitsu volunteers his time at Ginreikai, a laryngectomy support group in Tokyo, Japan, where he helps people learn to speak again using a speech device called the electrolarynx. The traditional electrolarynx is a razor-sized device that is held up against the neck and creates vibrations that in turn transmit sound through tongue and lip movement. But there have not been many improvements in sound quality and functionality since it was invented over 100 years ago.
                    .single-news-card-intro-block
                        h2.single-news-card-item__title.text-descr-uppercase I strongly feel how grateful I am to use my own voice for communication and how important communication is for human beings and society,” he said. “I believe that we will be able to lead a more normal social life by using both hands while speaking like a healthy person.
                        p.single-news-card__descr.text-descr Ogitsu, who tests the device about once a month, says he would like Syrinx’s straps to be more elastic to fit better around his throat. While Knapp has not seen the device in use in person, she said that it may have a bit more depth than a traditional electrolarynx but that it doesn’t sound too different than what’s currently on the market. But she added that the hands-free feature could be a game-changer for some patients. The device is already gaining recognition in Asia, with Syrinx winning the 2021 Grand Prix at the Japan Healthcare Business Contest and the Microsoft Imagine Cup Asia Regional in 2020. Eventually, Takeuchi would love to expand his product globally and have US testers.
                        ul.single-news-card-list
                            li.single-news-card-list__item.text-descr For now, he says he’s working on reflecting the feedback he’s getting from Ginreikai into future iterations of the device.
                            li.single-news-card-list__item.text-descr “I am so glad to hear that people were surprised by this device and said, ‘I can’t wait to talk with this device’ and ‘I hope it will be commercialized soon,’” said Takeuchi, adding that he hopes to pass the strict screening criteria required for clinical trials and get Syrinx to market in the next decade.
                            li.single-news-card-list__item.text-descr Ogitsu agrees he’d like to see this device fully developed and available as soon as possible.
                    .btn-container.btn-container-border
                        .btn-mask vISIT WEBSITE
                        a(href='').single-news-card-btn.btn vISIT WEBSITE
                .single-news-card-img-wrap 
                    img(src="./assets/images/newsPage/1.jpg", alt="" img-paralax).single-news-card-img
        .single-news-last-updates 
            .single-news-last-updates__title.text-title Latest News
            .news-list 
                .news-item 
                    .news-item-intro 
                        h3.news-item__title.text-descr-uppercase MAKE YOUR WISH ABOUT YOUR OWN HOUSING COME TRUE IN TIME! BUY AN APARTMENT WITH A 30% DOWN PAYMENT
                        p.news-item__descr.text-descr With age, requests become much more: a view from the window, friendly neighbors, safe playgrounds for children, supermarkets on the first floor, dry cleaners, restaurants, bakeries, a cafe in the house, a place for a car.
                        .btn-container.btn-container-border
                            .btn-mask Read more
                            a(href="single-news.html").news-item__btn.btn Read more
                    .news-item-img-wrap 
                        img(src="./assets/images/newsPage/1.jpg", alt="" img-paralax).news-item-img
                .news-item 
                    .news-item-intro 
                        h3.news-item__title.text-descr-uppercase MAKE YOUR WISH ABOUT YOUR OWN HOUSING COME TRUE IN TIME! BUY AN APARTMENT WITH A 30% DOWN PAYMENT
                        p.news-item__descr.text-descr With age, requests become much more: a view from the window, friendly neighbors, safe playgrounds for children, supermarkets on the first floor, dry cleaners, restaurants, bakeries, a cafe in the house, a place for a car.
                        .btn-container.btn-container-border
                            .btn-mask Read more
                            a(href="single-news.html").news-item__btn.btn Read more
                    .news-item-img-wrap 
                        img(src="./assets/images/newsPage/1.jpg", alt="" img-paralax).news-item-img
